<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/e7ab8ae43f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;600;700&display=swap" rel="stylesheet">
    <title>All Products</title>
</head>
<body>
    <div id="dangnhap">
        <span style="color:black" id="user"></span>
        <input type="button" value="Log out" onclick="logout()" class="nut">
    </div>

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/index"><img src="img/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/products">Products</a></li>
                   
                    <li><a href="/login">Account</a></li>
    
                </ul>
            </nav>
            <a href="/cart"><img src="img/cart.png" width="30px" height="30px" onclick="shoppingcart()"></a>
            <img src="img/menu.png" class="menu-icon" onclick="menutoggle()">

        </div>    
    </div>
<div class="small-container">
    <div class="box">
    <a href="/Products"><h2>All Products</h2><br></a>
    <input type="textt" id="search" placeholder="Shirt Black....." style="height:30px" onkeypress="keysearch(event)"/>
    <input type="submit" value="Search" onclick="search()" style="height:30px"/>
    <!-- <button onclick="search()" style="height: 30px;">Search</button> -->
    </div>
    <div class="row row-2">
         <!-- <select>
              <option>Default Shorting</option>
           <span onclick="catid('1')"><option>Shirt</option></span>
           <span onclick="catid('2')"><option>Pants</option></span>
           <span onclick="catid('3')"><option>Shoes</option></span>
           <span onclick="catid('4')"><option>Watch</option> </span>  -->
           <tr>
               <td>
                <a class="MENU" href="#"><span onclick="catid('1')">Shirt</span></a>
               </td>
               <td>
                <a class="MENU" href="#"><span onclick="catid('2')">Shoes</span></a>
                   
            </td>
            <td>
                <a class="MENU" href="#"><span onclick="catid('3')">Pants</span></a>
                   
            </td>
            <td>
                <a class="MENU" href="#"><span onclick="catid('4')">Watch</span></a>
                   
            </td>
           </tr>
        <!-- </select> -->
    </div>
         <div class="row">
             <div id="content"></div>
        </div>
            <!-- <div class="col-4">
                <a href="/products2"><img src="img/product-1.jpg"></a>
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-2.jpg">
                <h4>Black Shoes </h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$150.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-3.jpg">
                <h4>Grey Pants</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-4.jpg">
                <h4>Blue Puma T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$45.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-5.jpg">
                <h4>Long Shoes</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$200.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-6.jpg">
                <h4>Black Puma T-Shirt</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-7.jpg">
                <h4>Socks</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-8.jpg">
                <h4>Watch Fashion</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$500.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="img/product-9.jpg">
                <h4>Watch DW</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>$750.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-10.jpg">
                <h4>Black Puma Shoes</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>$75.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-11.jpg">
                <h4>Grey Shoes</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$60.00</p>
            </div>
            <div class="col-4">
                <img src="img/product-12.jpg">
                <h4>Black Joggers</h4>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>$50.00</p> -->
            </div> 
        </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>

    </div>
</div>


<!-----------Footer-------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and Ios mobile phone.</p>
                <div class="app-logo">
                    <img src="img/play-store.png">
                    <img src="img/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="img/logo-white.png">
                <p>Our Purpose Is To Sustainably Make The Pleasure And Benefits Of Sports Accessible To The Many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                    
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                    
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 <br> Điền Giang - Hoàng Hùng Anh</p>
    </div>
</div>
<!----------Js for menu ------------>
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
      $.get("http://localhost:4000/productss", function (data, status) {
        $('#content').html(data);
      });
    });

    function search(){
        $.post("http://localhost:4000/search",{
            search: $('#search').val(),
        }, function (data, status) {
        $('#content').html(data);
      });
    }
    function keysearch(event){
          if(event.keyCode == 13){
          $.post("http://localhost:4000/search",{
            search: $('#search').val(),
        }, function (data, status) {
        $('#content').html(data);
      });
    }
}
function catid(cat){
    $.post("http://localhost:4000/getProductByCarID",{
            carid: cat,
        }, function (data, status) {
        $('#content').html(data);
      });
}
function shoppingcart(){
    window.location.href="/cart"
}
</script>
<script>
     var user = localStorage.getItem("user");
                if(user == null || user == undefined ||  user=== ""){
                    $("#user").html("Bạn Chưa Đăng Nhập");
                }
                else
                {
                    var objUser = JSON.parse(user);
                    $("#user").html("Xin Chào : "+objUser.name);
                }
    ;
    function logout(){
        localStorage.removeItem("user")
        window.location.href="/login"
    }
    function addToCart(Id){
        var shoppingcart = localStorage.getItem("shoppingcart")
        if (shoppingcart == null || shoppingcart == undefined){
            shoppingcart = [Id]
        }
        else{
            shoppingcart = JSON.parse(shoppingcart);
            if(shoppingcart.indexOf(Id) == -1){
                shoppingcart.push(Id)
            }
        }

        localStorage.setItem("shoppingcart",JSON.stringify(shoppingcart))
    }
</script>
 
</body>
</html>